html {
    scroll-behavior: smooth;
}

img.logo {
    width: 200px;
    height: 95px;
}

a.logo {
    font-weight: bold;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 80px;
    line-height: 85px;
}

.navbar a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

a.navitems {
    margin: 0 20px;

}

.nav-right {
    float: right;
}

body {
    margin: 0;
}
