html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h3, .home_header {
  border-bottom: 1px solid black;
}

.page-wrapper {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-bottom: 1rem;
  background-color: white;
}

/* Start of nav bar css */
img.logo {
  width: 10rem;
  height: 3.5rem;
  margin-top: 0.6rem;
}

a.logo {
  font-weight: bold;
  margin: 0 1rem;
}

.wrapper {
margin: 0 auto;
position: relative;
}


.navholder {
padding-left: 30px;
position: relative;
height: 80px;
}

.navbar {
  overflow: hidden;
  background-color: black;
}

.navlink{
margin: 0;
top: 40%;
position: inherit;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.navbar a {
  float: left;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
}

a.navitems {
  margin: 0 1rem;
  font-family: 'Reem Kufi', sans-serif;
}

a.navitems:active{
  color: lightgray;
}

.nav-right {
  float: right;
  padding-right: 2rem;
}
/* End of nav bar css */

/* Start of player profile css */
img.player-profile {
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  float: left;
  width: 20%;
  margin-top: 1rem;
}

h1.playername{
  font-size: 2.5rem;
  padding-left: 1.2rem;
  padding-top: 1.5rem;
  float: left;
}

.like_count{
  float: right;
  padding-right: 2rem;
  padding-top: 1.25rem;
}

.playerinfo{
  clear: left;
  padding: 0.6rem;
  padding-right: 2.5rem;
  padding-left: 0;
}

.player_profile_details {
  margin-left: 3.8rem;
  width: 75%;
}

.team_profile_details, .player_profile_details, .playerinfo{
  float: left;
  margin-top: 1.3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border: 1px solid black;
  border-radius: 2rem;
}

.team_profile_details{
  width: 70%;
}

img.player_team_img {
  float: left;
  padding-bottom: 10px;
  max-height: 12.5rem;
}

h1.box_title {
  border-bottom: 1px solid black;
  text-align: center;
}

h1.team_name {
  float: left;
  padding-top: 5%;
  padding-left: 1rem;
}

input#submit{
  width: 3.1rem;
  height: 3.1rem;
}

input#delete{
  background-color: red;
  border: 1px solid black;
}

/* End of player profile css */

/*Start of all players css */
ul.playernameindex{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a.indexlink{
  display: block;
  padding: 1rem;
  padding-left: 1.2rem;
}

.allplayersnav{
border: 1px solid grey;
box-shadow: 3px 3px lightgrey;
display: flex;
margin-top: 1rem;
}

.alphabetbox {
float: left;
width: 10%;
text-align: center;
background-color: lightblue;
}

.playerlistbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  border: 1px solid grey;
  box-shadow: 3px 3px lightgrey;
}

.playerlist-container {
  float: left;
  padding-left: 1rem;
}

.playerlistbox::-webkit-scrollbar {
  width: 1;
}

.topletter{
  clear: left;
  display: flex;
  border-bottom: 1.5px solid black;
}

.topletter:last-child{
  border-bottom: none;
}

.add_form_header{
  text-align: center;
}

.add_player_form{
  border: 1px solid grey;
  box-shadow: 3px 3px lightgrey;
}

.add_player{
  columns: 3;
}
/* End of all players css */

/* Start of all teams css */
.column {
  width: 40%;
  height: 10rem;
  float: left;
  margin: 0.8rem;
  margin-left: 0;
  border: 1px solid grey;
  box-shadow: 3px 3px lightgrey;
}

.row {
  clear: both;
  content: "";
}

img.teamlogo {
  max-height: 9rem;
}

.holder {
  display: inline-flex;
  float: left;
  width: 12.5rem;
}

h2.division {
  float: left;
  clear: left;
}

.team_form{
  float: left;
}

form.addteam{
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
}
/* End of all teams css */

/* Start of login and reg css */
.logregbox {
  width: 18.8rem;
  height: 25rem;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2%;

  margin: auto;
  background-color: white;
}

fieldset{
  border: 0;
}

input#form_submit{
  width: 10.6rem;
  background-color: lightblue;
  border: 1px solid black;
}

input{
  height: 2rem;
}

.submitbutton {
  float: right;
  padding-right: 2rem;
  padding-top: 1.25rem;
}

a.logreg_ask_text{
  color: blue;
}

a.logreg_ask_text, p.logreg_ask_text{
  font-family: Montserrat;
  letter-spacing: -0.5px;
}

p.logreg_ask_text{
  margin-bottom: 0;
  margin-top: 1.25rem;
}

h1.logreg{
  font-family: Montserrat;
}

.logregbackground{
  background-image: url(/static/Images/volley.png);
  background-position: top 0px left -180px;
  width: 100%;
  height: 100%;
  position: fixed;
}

/* End of login and reg css */

/* Start of team page css */
img.team, img.player_team_img{
  max-width: 15.6rem;
  max-height: 11.9rem;
}

h1.teamname {
  font-family: 'Barlow', sans-serif;
  font-size: 2.5rem;
}

.delete{
  float: right;
  padding-top: 2%;
}

.teampage{
  width: 15.6rem;
  height: 12rem;
  float: left;
}

.team_players{
  width: 15.6rem;
  height: 15.6rem;
  float: left;
  clear: left;
}

/*THIS IS THE SLIDES*/
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.team_players-body {
  max-width: 32rem;
  margin-top: 5%;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
  zoom: 0.5;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

ol.carousel__viewport::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li.carousel__slide {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 29rem;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

#playername {
  text-align: center;
  padding-top: 22.5rem;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 50%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.player_names {
  display: none;
}

li.carousel__slide:hover .overlay{
  cursor: pointer;
  opacity: 1;
}

li.carousel__slide:hover .player_names{
  display: block;
}

p.player_name{
  font-size: 2rem;
  color: black;
  padding-left: 1rem;  
}

a.player_card_link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(220, 220, 220, 0.5);
  overflow:hidden;
}

/* Start of team page table css */
table {
  width: 70%;
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
  border-spacing: 0;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
  border: 1px solid black;
  text-align: left;
  padding: 0.3rem;
}

td:first-child, th:first-child {
   border-left: none;
}

tr td:last-child{
  border-right: none;
  border-top: none;
}

td.btm{
  border-right: none;
  border-top: inherit;
  border-bottom: inherit;
  border-bottom-right-radius: 6px;
}

td.top {
  border-top-right-radius: 6px;
}

td {
  border-left: none;
  border-top: none;
  border-right: none;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: #c2d6eb;
  font-family: 'Titillium', sans-serif;
  font-weight: 500;
  border-top: none;
}

th.btm{
  border-bottom: none;
}

th.topleft{
  border-top-left-radius: 5px;
}

th.btmleft{
  border-bottom-left-radius: 5px;
  border-bottom: none;
}
/* End of team page css */

/* Start of homepage css */
.games_preview{
  float: left;
  clear: left;
}

.top_players{
  float: right;
}

.top_players, .games_preview{
  border: 1px solid black;
  margin-top: 5%;
  padding: 0.4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px lightgrey;
}

.VS{
  font-size: 1.5rem;
}

.mini_homepage_left_logo, .mini_homepage_right_logo, .mini_holder{
  max-width: 5rem;
  max-height: 4rem;
}

.mini_homepage_left_logo{
  float: left;
  clear: left;
}

.mini_homepage_right_logo{
  float: right;
}

.team_preview{
  float: left;
  text-align: center;
}

.mini_holder{
  display: inline-flex;
  float: left;
  clear: left;
}
/* End of homepage css */

/* Start of account page css */
.acc_box{
  float: left;
  margin-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: 3px 3px lightgrey;
}

h1.acc_box_title{
  border-bottom: 1px solid black;
  text-align: left;
}

.error_prevention_box{
  display: none;
  border: 1px solid black;
  border-radius: 0.4rem;
  float: left;
  clear: left;
  margin-top: 0.8rem;
  padding: 0.2rem;
  background-color: lightgrey;
  margin-bottom: 0.8rem;
}

input:checked + label + .error_prevention_box { 
  display: inline-block; 
}

label{
  background-color: red;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 2px 2px lightgrey;
  border: 1px solid black;
  font-size: 1rem;
  display: inline-block;
  padding: 2px 5px;
  margin-top: 1rem;
  cursor: pointer;
  float: left;
}

.error_prevention{
  margin: 0;
}
/* End of account page css */

/* Start of schedule page css */
.add_form{
  float: right;
  border: 1px solid black;
  clear: right;
}
/* End of schedule page css */

/* Start of 404 page css */
h1.error{
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.5rem;
}
/* End of 404 page css */