html {
    scroll-behavior: smooth;
}

img.logo {
    width: 200px;
    height: 95px;
}

a.logo {
    font-weight: bold;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 80px;
    line-height: 85px;
}

.navbar a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

a.navitems {
    margin: 0 20px;

}

.nav-right {
    float: right;
}

img.player-profile {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    float: left;
}

h1.playername{
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
    padding-top: 25px;
    float: left;
}

.playerimg{
    padding-top: 30px;
    padding-left: 30px;
}

table, th, td {
    border: 1px solid black;
}

.playerinfo{
    float: left;
    clear: left;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid black;
    border-radius: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    height: 30px;
    font-size: 18px;
    font-family: 'Lato';
}

td {
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    padding: 5px;
    text-align: left;
}

body {
    margin: 0;
}

input#submit{
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h3 {
    border-bottom: 1px solid black;
}

.submitbutton {
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}

.player_profile_details {
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 30px;
    width: 70%;
}

img.player_team_img {
    float: left;
    padding-bottom: 10px;
}

h1.player_profile_title {
    border-bottom: 1px solid black;
    text-align: center;
}

h1.team_name {
    float: left;
    line-height: 100px;
    padding-left: 10px;
}