{%extends "layout.html"%}
{%block content%}

<div class="page-wrapper">
    <div class="allplayersnav">
        {% for i in range(26) %}
        <!--Mini nav bar that allows users to jump to a specific letter-->
        <ul class="playernameindex">
            <li class="playerindexlist"><a class="indexlink" href='#{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] }}'>{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] }}</a></li>
        </ul>
        {% endfor %}    
    </div>
    <div class="playerlistbox">
        {% for i in range(26) %}
        <!--Sort players by their first letter-->
        <div id='{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] }}' class="topletter">
            <div class="alphabetbox">
                <h2 class="alphabet">{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] }}</h2>
            </div>
            <div class="playerlist-container">
                {% for player in q[i] %}
                    <ul>
                        <li class="allplayers_name"> <a href="/player/{{player.name}}-{{player.id}}">{{ player.name }}    </a></li>
                    </ul> 
                {% endfor %}
            </div>
        </div> 
        {% endfor %}
    </div>
    {% if current_user.is_authenticated %}
    <div class="add_player_form">
        <h2 class="add_form_header">Add a player</h2>
        <form class='add_player' action="{{url_for('allplayers')}}" method="POST">
            {{form.csrf_token}}
            <fieldset>
                Name: {{form.name}}
            </fieldset>
            <fieldset>
                Height: {{form.height}}
            </fieldset>
            <fieldset>
                Position: {{form.position}}
            </fieldset>
            <fieldset>
                Age: {{form.age}}
            </fieldset>
            <fieldset>
                Jersey Number: {{form.number}}
            </fieldset>
            <fieldset>
                Birth Date: {{form.birth_date}}
            </fieldset>
            <fieldset>
                Birth Place: {{form.birth_place}}
            </fieldset>
            <fieldset>
                Team: {{form.team}}
            </fieldset>
            <fieldset>
                <input type="submit">
            </fieldset>
        </form>
    </div>     
    {% endif %}
</div>
{%endblock%}