{%extends "layout.html"%}
{%block content%}
<div class="page-wrapper">
    <h2 class="division">Women's Division</h2>
    <div class="row">
        {% for teams in women_teams %}
        <a href="/team/{{teams.name}}">
        <div class="column">
            <div class="holder">
                <img class="teamlogo" src="{{teams.image}}">
            </div>
            <p class="team_name">{{teams.name}}</p>
        </div>
        </a>
        {% endfor %}
        {% if current_user.is_authenticated %}
        <div class="column">
            <form class="addteam" action="{{url_for('allteams')}}" method="POST">
                {{form.csrf_token}}
                <fieldset class="team_form">
                    {{form.name(placeholder='Name')}}
                </fieldset>
                <fieldset class="team_form">
                    {{form.founded_date(placeholder='Founded Date')}}
                </fieldset>
                <fieldset class="team_form">
                    {{form.stadium(placeholder='Stadium')}}
                </fieldset>
                <fieldset class="team_form">
                    {{form.chairman(placeholder='Chairman')}}
                </fieldset>
                <fieldset class="team_form">
                    {{form.division}}
                </fieldset>
                <input id="form_submit" type="submit" value="Add">
            </form>
        </div>
        {% endif %}
    </div>
    <h2 class="division">Men's Division</h2>
    <div class="row">
        {% for teams in men_teams %}
        <a href="/team/{{teams.name}}">
        <div class="column">
            <div class="holder">
                <img class="teamlogo" src="{{teams.image}}">
            </div>
            <p class="team_name">{{teams.name}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{%endblock%}