{%extends "layout.html"%}
{%block content%}
<div class="page-wrapper">
    <h2 class="division">Women's Division</h2>
    <div class="row">
        {% for teams in teams %}
        <a href="/team/{{teams.name}}">
        <div class="column">
            <div class="holder">
                <img class="teamlogo" src="{{teams.image}}">
            </div>
            <p class="team_name">{{teams.name}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
    <h2 class="division">Men's Division</h2>
</div>
{%endblock%}