{%extends "layout.html"%}
{%block content%}

{% for playerinfo in player_info %}

{% if not current_user.is_authenticated %}

    <p>Like count: {{playerinfo.upvoters.count()}}</p>

{% endif %}

{% if current_user.is_authenticated %}
    {% if not liked %}
        <p>Like count: {{playerinfo.upvoters.count()}}</p>
        <form method="POST">
            <div class="submitbutton">
                <input id="submit" type="submit" value="Like">
            </div>
        </form>
    {% endif %}

    {% if liked %}
        <p>liked</p>
        <form method="POST">
            <div class="submitbutton">
                <input id="submit" type="submit" value="Dislike">
            </div>
        </form>
        <p>Like count: {{playerinfo.upvoters.count()}}</p>

    {% endif %}

{% endif %}

{% endfor %}

{%endblock%}