{%extends "layout.html"%}
{%block content%}

<div class="page-wrapper">
    {% for playerinfo in player_info %}
        <img class="player-profile" src="{{playerinfo.image}}" alt="{{playerinfo.name}}">
        <h1 class="playername">{{playerinfo.name.split()[0]}}<br>{{playerinfo.name.split()[1]}} {{playerinfo.name.split()[2]}}</h1>

        {% if not current_user.is_authenticated %}
            <p class="like_count">Like count: {{playerinfo.upvoters.count()}}</p>
        {% endif %}

        {% if current_user.is_authenticated %}
            <!--Allows user to like the player if they haven't-->
            {% if not liked %}
                <form method="POST">
                    <div class="submitbutton">
                        {% if current_user.email == "admin@gmail.com" %}
                        <input id="delete" type="submit" value="Delete" name="delete">
                        {% endif %}
                        <p>Like count: {{playerinfo.upvoters.count()}}</p>
                        <input id="submit" type="image" src="https://cdn.pixabay.com/photo/2013/07/13/12/15/hand-159474_960_720.png" alt="Like" value="Like">
                    </div>
                </form>
            {% endif %}
            <!--Allows user to dislike the player if they have liked them-->
            {% if liked %}
                <form method="POST">
                    <div class="submitbutton">
                        {% if current_user.email == "admin@gmail.com" %}
                        <input id="delete" type="submit" value="Delete" name="delete">
                        {% endif %}
                        <p>Like count: {{playerinfo.upvoters.count()}}</p>
                        <input id="submit" type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Font_Awesome_5_solid_thumbs-down.svg/1024px-Font_Awesome_5_solid_thumbs-down.svg.png" alt="Dislike" value="Dislike">
                    </div>
                </form>     
            {% endif %}
        {% endif %}
            <div class="playerinfo">
                <h3>Name</h3>
                <p>{{playerinfo.name}}</p>

                <h3>Height</h3>
                <p>{{playerinfo.height}} cm</p>

                <h3>Position</h3>
                <p>{{playerinfo.position}}</p>

                <h3>Age</h3>
                <p>{{playerinfo.age}}</p>

                <h3>Jersey Number</h3>
                <p>{{playerinfo.number}}</p>

                <h3>Birth Date</h3>
                <p>{{playerinfo.birth_date}}</p>

                <h3>Birth Place</h3>
                <p>{{playerinfo.birth_place}}</p>
            </div>

            <div class="player_profile_details">
                <h1 class="box_title">Team</h1>
                <a href="/team/{{playerinfo.team.name}}">
                <img class="player_team_img" src="{{playerinfo.team.image}}" alt="{{playerinfo.team.name}}">
                <h1 class="team_name">{{playerinfo.team.name}}</h1></a>
            </div>

            <div class="player_profile_details">
                <h1 class="box_title">Awards</h1>
                <p>This</p>
                <p>That</p>
                <p>And Many More!</p>
            </div>
    {% endfor %}
</div>
{%endblock%}