<!DOCTYPE html>
<html>
    <body>
        <div class="logregbackground">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/static/CSS/style.css">
            <div class="logregbox">
                <form action="{{url_for('signup')}}" method="POST">
                    <h1 class="logreg">SIGNUP</h1>

                    {{ form.csrf_token }}

                    <fieldset class="username">
                        {{form.username(placeholder='Username')}}
                    </fieldset>

                    <fieldset class="email">
                        {{ form.email(placeholder='Email') }}
                    </fieldset>

                    <fieldset class="password">
                        {{ form.password(placeholder='Password') }}
                    </fieldset>

                    <fieldset class="confirm">
                        {{form.confirm(placeholder='Confirm Your Password')}}
                    </fieldset>

                    <div class="loginsubmitbutton">
                        <input id="loginsubmit" type="submit" value="Sign Up">
                    </div>               
                </form>
                <p class="signup">Already have an account?</p>
                <a class="signup" href="/login">Login here!</a>
            </div>
        </div>
    </body>
</html>