{% extends "layout.html" %}
{%block content %}

<div class="page-wrapper">
    {% if current_user.is_authenticated %}
    <div class="add_form">
        <h2 class="add_form_header">Add a schduled game</h2>
        <form class='add_game' action="{{url_for('schedule')}}" method="POST">
            {{form.csrf_token}}
            <fieldset>
                {{form.first_team}}
            </fieldset>
            <fieldset>
                {{form.second_team}}
            </fieldset>
            <fieldset>
                {{form.scheduled_date}}
            </fieldset>
            <fieldset>
                <input type="submit">
            </fieldset>
        </form>
    </div>
    {% endif %}
    <h2 class="schedule_header">All Upcoming Games</h2>
        {% for i in range(all_first_teams|length) %}
            <p class="schedule_teams">
                <a href="/team/{{all_first_teams[i].name}}">{{all_first_teams[i].name}}</a><span class="VS"> VS </span><a href="/team/{{all_second_teams[i].name}}">{{all_second_teams[i].name}}</a>
            </p>
            <p class="schedule_teams">
                {{dates_to_store[i]}}
            </p>
        {% endfor %}
</div>
{% endblock %}